body {
    font-family: "Consolas", sans-serif;
    text-align: center;
}
table {
    position: relative;
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}
tr {height: 40px;}
td {width: 140px; font-size: 20px;
    border: 1px solid black;}
.button {
    cursor: pointer;
    user-select: none;
}
